<h1><%= $game.display_word %><h1>
<h2> <%= $game.guessed %> </h2>
<img src= <%= $images[@lives] %>/>
<h3> <%= "#{@lives} li#{@lives > 1 ? "ves" : "fe"}"%> left </h3>
<form method= "POST" action= "http://localhost:4567/guess">
  <% @letters.each do |letter| %>
  <input name = "letter" type="submit" class = "letterbutton" value=<%=letter%> />
  <% end %>
</form>
